div.btn
{
    margin: 50px;
    color: white;
    background-color: navy;
    font-size: 30pt;
    padding: 50px;
    width: 80px;

    box-shadow: gray 10px 10px 10px;
    transition: 1s;
}


div.btn:hover
{
    transform: translate(-10px,-10px);
    box-shadow: gray 20px 20px 20px;
    transition: .5s;
}


div.btn.active
{
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 3px ;
    transition: .2s;

}